name: Close Stalled PR
on:
  schedule:
    - cron: '* * * * *' # Run every day at 15:15 UTC / 7:15 PST / 8:15 PDT
permissions:
  pull-requests: write
jobs:
  stale:
    if: github.repository == 'Poojita-Raj/OpenSearch'
    runs-on: ubuntu-latest
    steps:
      - name: Stale PRs
        uses: actions/stale@v9
        with:
          stale-pr-label: 'stalled'
          stale-pr-message: 'This PR is stalled because it has been open for 30 days with no activity.'
          days-before-pr-stale: 30
          days-before-issue-stale: -1
